{% block categories %}
    <div class="card mt-2 mb-2">
        <div class="card-header bg-light">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="mb-0" id="followers"></h5>
                </div>
                <div class="col text-end"><a class="font-sans-serif" href="/category">Kategoriyalar</a>
                </div>
            </div>
        </div>
        <div class="card-body bg-light px-1 py-0">
            <div class="row g-0 text-center fs--1">

                <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                    <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/uy-uchun"><img
                            class="img-thumbnail img-fluid  mb-3 shadow-sm"
                            src="/media/category_images/7AA93102-81A6-41E5-9DDA-9CA2C6427E3B.png" alt=""
                            width="100"></a>
                        <h6 class="mb-1"><a href="/category/uy-uchun">Uy uchun</a>
                        </h6>
                        <p class="fs--2 mb-1"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}