{% extends 'apps/main_base.html' %}
{% load static %}


<div class="row justify-content-center">
    <div class="col-7 col-md-5"><img class="img-fluid"
                                     src="{% static 'apps/assets/img/icons/spot-illustrations/41.png' %}" alt=""
                                     style="width:58%;"/></div>
</div>
<h3 class="mt-3 fw-normal fs-2 mt-md-4 fs-md-3">Invite a friend, you both get $100</h3>
<p class="lead mb-5">Invite your friends and start working together in seconds. <br class="d-none d-md-block"/>Everyone
    you invite will receive a welcome email.
</p>
<div class="row justify-content-center">
    <div class="col-md-7">
        <form class="row gx-2">
            <div class="col-sm mb-2 mb-sm-0">
                <input class="form-control" type="email" placeholder="Email address" aria-label="Recipient's username"/>
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-primary d-block w-100" type="submit">Send Invitation</button>
            </div>
        </form>
    </div>
</div>
</div>


